.row-container {
    display: flex;
    flex-direction: row;
}
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    margin-left: 250px;
    top:0;
    overflow: hidden;
}

.categories {
    display: grid;
    grid-template-columns: repeat(16, auto);
    column-gap: 30px;
    overflow-x: hidden;
    margin: 6px;
}

.category-item {
    box-sizing: border-box;
    height: 32px;
    background-color: var(--lightGreenMain);
    font-family: var(--mainFont);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 5px;
}

.categories:hover {
    overflow-x:auto;
}

.categories::-webkit-scrollbar {
    height: 7px;
}
  
.categories::-webkit-scrollbar-thumb {
    background: var(--green); 
    border-radius: 10px;
}

.category-item:hover {
    background-color: var(--green);
    color: white;
}

.category-item:nth-of-type(1) {
    background-color: var(--green);
    color: white;
}

@media screen and (max-width: 1200px) {
    .main {
        margin-left: 70px;
    }
}